@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, html {
  margin: 0;
  height: 100vh;
}

.planet-section {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.planet-section-dark {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background: black;
}

.div-section {
  display: block;
  margin: auto;
}

.input-planet {
  margin: auto;
  display: block;
  outline: none;
}

.space-image {
  margin: auto;
  width: 400px;
  display: block;
}

.description {
  width: 700px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px auto;
}

.description-dark {
  width: 700px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px auto;
  color: white
}

.search {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.title {
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px auto;
}

.dark {
  display: block;
  margin: auto;
  margin-top: 10px;
  background: yellow;
  color: black;
}